<!DOCTYPE html>
<html>
<head>
	<header ng-class="{'intro-header': true}" du-scrollspy="intro-top" class="ng-scope intro-header active"> <section class="logo-section"> <div class="logo-frame"> <a class="sprig-logo" href="#/"><img alt="sprig" src="images/Header_WhiteLogo.2cd656e0.svg"></a> </div> </section> <section class="nav-section"> <ol class="nav"> <li class="nav-item"> <button class="btn-secondary" ng-click="orderNow()" ng-disabled="isLoading" tabindex="0" aria-disabled="false">Order Now</button> </li> <li class="nav-item" ng-show="!loggedIn" aria-hidden="false"> <button class="btn-weak" ng-click="openLogin()" tabindex="0">Sign In</button> </li> </ol> </section> </header>
  <title>Dante</title>
</head>

<body>
	<h1>Dante's Website </h1>
	<p> Dante likes computers. I also enjoy playing soccer.</p>

	<img src="Images/landscape.jpg">

<li><a href="https://www.linkedin.com/pub/dante-alvarado-leon/95/591/b20">LinkedIn</a><li>

</body>

</html>
